

h3{
    color :rgb(15, 14, 14);
    text-align: center;
}

        

.header {
    border: 1px solid  rgb(188, 233, 122);
    background-color:rgb(220, 217, 235);
    color:rgb(20, 16, 16);
    text-align:center;
    padding:3px; 
    font-size: 20px;           
}


input,select {
    width: 20%;
    padding: 5px;
    margin: 5px ;  
}

body{
    background-color: rgb(197, 127, 224);
}